<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:image" content="/images/ico/logo.png">
	<script type="text/javascript" src="/js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="/js/util.js"></script>
	<script type="text/javascript" src="/js/site.js"></script>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<link rel="stylesheet" href="/css/site.css">
	<link rel="shortcut icon" href="/favicon.ico">
	<title>FESTA</title>
</head>
<body>
<div id="wrap">
	<div id="header">
		<div class="scrX">
			<div class="container">
				<h1>
					<a href="/"><em class="snd_only">FESTA</em></a>
				</h1>
				<form class="search_box">
					<input type="text" placeholder="캠핑장 또는 그룹을 검색해보세요!">
					<button type="submit"><img src="/images/ico/btn_search.png" alt="검색"></button>
				</form>
				<ul id="gnb">
					<li><a href="/camp/">캠핑정보</a></li>
					<li><a href="/hot/">인기피드</a></li>
					<li><a href="/news/">뉴스피드</a></li>
					<!-- <li><a href="/member/login" class="btn_pop">로그인</a></li> -->
					<li><a href="/user/">마이페이지</a></li>
				</ul>
				<div id="userMenu" class="fstLyr">
					<button class="btn_menu"><em class="snd_only">나의 메뉴 더보기</em></button>
					<dl class="menu_box" tabindex="0">
						<dt><b>조혜진님 환영합니다</b></dt>
						<dd>
							<span class="btn_mylist">나의 그룹</span>
							<div class="my_list">
								<ul>
									<li>
										<a href="">
											<span><img src="http://placehold.it/45x45" alt="입돌아간다 그룹 썸네일"></span>
											<b>입돌아간다 입돌아간다 입돌아간다</b>
										</a>
									</li>
									<li>
										<a href="">
											<span><img src="http://placehold.it/45x45" alt="그룹 썸네일"></span>
											<b>그룹명</b>
										</a>
									</li>
									<li>
										<a href="">
											<span><img src="http://placehold.it/45x45" alt="그룹 썸네일"></span>
											<b>그룹명</b>
										</a>
									</li>
									<li>
										<a href="">
											<span><img src="http://placehold.it/45x45" alt="그룹 썸네일"></span>
											<b>그룹명</b>
										</a>
									</li>
								</ul>
							</div>
						</dd>
						<dd>
							<span class="btn_mylist">나의 채팅</span>
							<div class="my_list">
								<ul>
									<li>
										<a href="">
											<span><img src="http://placehold.it/45x45" alt="입돌아간다 그룹 썸네일"></span>
											<b>입돌아간다</b>
										</a>
									</li>
								</ul>
							</div>
						</dd>
						<dd>
							<span class="btn_mylist">나의 캠핑장</span>
							<div class="my_list">
								<ul>
									<li>
										<a href="">
											<span><img src="http://placehold.it/45x45" alt="캠핑장 썸네일"></span>
											<b>캠핑장명</b>
										</a>
									</li>
								</ul>
							</div>
						</dd>
						<dd class="btn_logout">
							<form>
								<input type="submit" value="로그아웃">
							</form>
						</dd>
					</dl>
				</div>
				<button type="button" id="btnTop"><em class="snd_only">맨 위로</em></button>
			</div>
		</div>
	</div>
	<div id="container" style="height: calc(100vh - 270px); background-color: #ddd; padding: 0;"></div>
	<div id="footer">
		<div class="container">
			<div class="img_box">
				<img src="/images/ico/logo_w.png" alt="FESTA">
			</div>
			<div class="text_box">
				<p>
					<span>경기도 성남시 분당구 느티로 2, AK와이즈플레이스</span>
					<span>김채찍과노예들</span>
					<span>사업자등록번호 : 123-45-67890</span>
				</p>
				<p>
					<span>대표번호 : 010-3332-8616</span>
					<span>담당자 : 김덕수</span>
					<span>문의 : 010-3332-8616</span>
				</p>
				<p>&copy; DEOKSOORR. All RIGHTS RESERVED.</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>